@model FlyHigh.Models.Baggage

@{
    ViewBag.Title = "AddBaggage";
}

<h1>Baggage</h1>

@using (Html.BeginForm("AddBaggage", "CheckIn", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TicketId)
    <fieldset>
        <legend>Add Baggage</legend>

        <div class="form-group">
            <div class="col-md-2">
                <label>Baggage</label>
            </div>
            <div class="col-md-10">
                <label>Weight</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                Baggage #1              
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control input-sm" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                <input class="btn btn-success btn-sm" type="submit" value="Submit">
            </div>
        </div>
    </fieldset>
} 