@model FlyHigh.Models.FormModel

@{
    ViewBag.Title = "FormResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form Result</h2>



<div>
    <h4>Dynamic Result</h4>
    
        @{int a;
            foreach (var i in Model.DynamicMultiBoxes)
            {
                a = 22;
               // Model.DynamicTableRows.FirstOrDefault(m=>m.ID == i).Name <br />
            }
        }

    
</div>

