@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

        <table>
            <tr>
                <th>
                    Departure
                </th>
                <td>
                    @Html.TextBox("departure")
                </td>
            </tr>
            <tr>
                <th>
                    Booking Id
                </th>
                <td>
                    @Html.TextBox("id")
                </td>
            </tr>
            <tr>
                <th>
                    Family name/ Surname
                </th>
                <td>
                    @Html.TextBox("lastName")
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Berikutnya" />
        </p>
}


