@{
    ViewBag.Title = "Index";
}

<h1>Parking</h1>

@using (Html.BeginForm("Details", "Parking", null, FormMethod.Get, new { role = "form", @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Choose Date</legend>
        
        <div class="form-group">
            @Html.Label("PlaneId", "From", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("PlaneId", null, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="date">Date</label>
            <div class="col-md-10">
                <input class="form-control input-md" id="date" name="date" type="text" value="" placeholder="Date">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary btn-md" type="submit" value="Next" />
            </div>
        </div>
    </fieldset>
}
