@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
        }</li>
    </ul>
} else {
    <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
